.btn-primary{
	list-style-type:none;
	display:inline-block;
	background:#dd1e25;
	color:#ffffff!important;
	border:none!important;
	border-radius:0;
}

.btn-primary:hover{
	background:#fa010a;
	margin-bottom:0;
	color:#ffffff;
	outline-offset:1px;
	outline-style:solid;
	outline-color:#ffffff;
	outline-width:1px;
}
