.btn{
	background-color:#e7e7e9;
	border-color:#e7e7e8 #e7e7e8 #e7e7e9;
}

.btn-primary{
	list-style-type:none;
	display:inline-block;
	background:#dd1e25;
	color:#ffffff!important;
	border:none!important;
	border-radius:0;
}

.btn-primary:hover{
	background:#fa010a;
	margin-bottom:0;
	color:#ffffff;
	outline-offset:1px;
	outline-style:solid;
	outline-color:#ffffff;
	outline-width:1px;
}

.region-sidebar-first .block{
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.gray-box{
  background: #888C8F;
  color: #FFFFFF;
  padding: 10px 5px 10px 5px;
}

.blue-box{
  background: #002A5B;
  color: #FFFFFF;
  margin: 20px 25px 20px 15px;
}

.sidebar-blue{
	background: #002A5B;
	color: #FFFFFF;
	padding: 10px 5px 10px 5px;
}

.sidebar-blue .block-title{
	color:#ffffff;
}

blockquote{
	margin:0 5em 0 5em;
	color:#002A5B;
	background-image:url(/sites/all/themes/aesbs337/images/graphics/blockquote-top.png), url(/sites/all/themes/aesbs337/images/graphics/blockquote-bottom.png);
	background-position:-0.5% 0%,98.7% 100% ;
	background-repeat:no-repeat;
	padding:1.7em
}

.entitytype-branch_disti_form-form{
  background-color: :#f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 19px;
}

.views-exposed-form label{
  display:none;
}

.success-stories{
  background-color: :#ffffff!important;
	border-top: 1px #888c8f dotted;
	padding-top: 10px;
}

.media__search-bar--widgets{
  display:block;
}
